<h1>Account(s)</h1>
<div style="background: #ECECEC; padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8" *ngFor="let account of clientAccounts">
      <nz-card nzTitle="Account - {{account.accountNumber}}" class="">
        <p>Account type: {{ account.accountType }}</p>
        <p>Balance: R{{ account.balance }}</p>
        <button class="button-acc" nz-button nzType="primary" nzShape="circle" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <nz-icon nzType="down" />
          <nz-dropdown-menu #menu="nzDropdownMenu" id="myDropdown">
            <ul nz-menu>
              <a nz-menu-item (click)="getTransactions(account.accountNumber)">Transactions</a>
              <a nz-menu-item (click)="showTransactionModal(account.accountNumber)">Transact</a>
            </ul>
          </nz-dropdown-menu>
        </button>
      </nz-card>
      <nz-divider nzPlain></nz-divider>
    </div>
    <a class="icon-style" nz-tooltip nzTooltipTitle="Add account" (click)="showAddAccountModal()">
      <nz-icon nzType="plus" nzTheme="outline"/>
    </a>
  </div>
</div>

<nz-modal [(nzVisible)]="isAddAccountVisible" nzTitle="Add Account" (nzOnCancel)="handleCancel()" nzOkText="Submit" (nzOnOk)="handleAddAccountSubmit()">
  <ng-container *nzModalContent>
    <form [formGroup]="accountFormGroup">
      <label>Account Type: </label>
      <nz-select type="text"  class="form-control" formControlName="accountType"
              [ngClass]="{'is-invalid': accountFormGroup.get('accountType')?.touched}">
        <nz-option *ngFor="let accountType of accountTypes" nzValue="{{accountType}}" nzLabel="{{accountType}}"></nz-option>
      </nz-select>
      <div *ngIf="accountFormGroup.controls['accountType'].errors" class="invalid-feedback">
        <div *ngIf="accountFormGroup.controls['accountType'].errors?.['required']">Account type is required!</div>
      </div>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isTransactionVisible" nzTitle="Transaction" (nzOnCancel)="handleCancel()" nzOkText="Transact" (nzOnOk)="handleTransactionSubmit()">
  <ng-container *nzModalContent>
    <form [formGroup]="transactionFormGroup">
      <label>Transaction Type:</label>
      <nz-select type="text"  class="form-control" formControlName="transactionType"
                 [ngClass]="{'is-invalid': transactionFormGroup.get('transactionType')?.touched}">
        <nz-option *ngFor="let transactionType of transactionTypes" nzValue="{{transactionType}}" nzLabel="{{transactionType}}"></nz-option>
      </nz-select>
      <div *ngIf="transactionFormGroup.controls['transactionType'].errors" class="invalid-feedback">
        <div *ngIf="transactionFormGroup.controls['transactionType'].errors?.['required']">Transaction type is required!</div>
      </div>

      <div *ngIf="this.transactionFormGroup.get('transactionType')?.value == 'TRANSFER'">
        <label>Recipient Account Number:</label>
        <nz-select type="text"  class="form-control" formControlName="recipientAccountNumber"
                   [ngClass]="{'is-invalid': transactionFormGroup.get('recipientAccountNumber')?.touched}">
          <div *ngFor="let acc of this.clientAccounts">
            <nz-option *ngIf="acc.accountNumber !== this.account.accountNumber"  nzValue="{{acc.accountNumber}}" nzLabel="{{acc.accountNumber}}"></nz-option>
          </div>
        </nz-select>
        <div *ngIf="transactionFormGroup.controls['recipientAccountNumber'].errors" class="invalid-feedback">
          <div *ngIf="transactionFormGroup.controls['recipientAccountNumber'].errors?.['required']">Recipient account number is required!</div>
        </div>
      </div>

      <label>Amount:</label>
      <nz-input-group nzPrefix="R">
        <input nz-input nzSize="small" type="number" class="form-control" formControlName="amount"
               [ngClass]="{'is-invalid': transactionFormGroup.get('amount')?.touched}">
      </nz-input-group>
      <div *ngIf="transactionFormGroup.controls['amount'].errors" class="invalid-feedback">
        <div *ngIf="transactionFormGroup.controls['amount'].errors?.['required']">Amount is required!</div>
      </div>
    </form>
  </ng-container>
</nz-modal>
